*.pyc
ria_project/application/migrations/*
ria_project/media/*
**/settings.py
*.ico
*.jpg
.idea/ria-project.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
ria_project/.DS_Store
.idea/encodings.xml
ria_project/application/.DS_Store
ria_project/application/static/css/.DS_Store
