certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.5.0
Django==2.0.4
django-excel==0.0.10
django-floppyforms==1.7.0
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
docx-mailmerge==0.4.0
et-xmlfile==1.0.1
gunicorn==19.8.1
idna==2.6
itypes==1.1.0
jdcal==1.4
Jinja2==2.10
lml==0.0.1
lxml==4.2.1
MarkupSafe==1.0
openpyxl==2.5.3
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyexcel==0.5.8
pyexcel-io==0.5.7
pyexcel-webio==0.1.4
python-docx==0.8.6
pytz==2018.4
requests==2.18.4
texttable==1.2.1
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.1
