<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    {% block title %}<title>Заявки на РИД</title>{% endblock %}

    {% load static %}
    {% load app_extras %}

    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('{% static 'fonts/Roboto/Roboto-Light.ttf' %}');
            font-weight: 300;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto';
            src: url('{% static 'fonts/Roboto/Roboto-Regular.ttf' %}');
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto';
            src: url('{% static 'fonts/Roboto/Roboto-Medium.ttf' %}');
            font-weight: 500;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto';
            src: url('{% static 'fonts/Roboto/Roboto-Bold.ttf' %}');
            font-weight: 700;
            font-style: normal;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/buttons/css/buttons.dataTables.min.css' %}">

</head>
<body>
	<!-- Шапка -->
	<header class="header row">
        <!-- Название -->
		<h1 class="project-name col-sm-3">
            <a href="{% url 'index' %}" class="project-link">РИД СФУ</a>
        </h1>
        <div class="col-sm-5"></div>
		<!-- Сотрудник и номер площадки -->
		<section class="col-sm-4 text-center my-auto staff-info">
			<!-- Сотрудник -->
            <div class="user">
                Здравствуйте, <span class="username" id="username">{{ user.get_full_name }}</span>
                {% if user.is_superuser %}
                <div class="user-notifications" id="notification">
                    <div class="message" v-for="(message, index) in notifications">
                        ${message.description} |
                        <a class="mark-as-read-link" v-on:click="markAsRead(message.id, index)">Отметить как прочитанное</a>
                    </div>
                </div>
                {% endif %}
            </div>
			<!-- Номер площадки -->
            {% if not user.is_superuser %}
            <div class="ground">
                <span class="ground-number">Площадка № {% ground user %}</span>
            </div>
            {% endif %}
            <!-- Завершение работы -->
            <a class="logout" href="{% url 'logout' %}">Выйти</a>
		</section>
	</header>

	<div class="container-fluid">
        <div class="row">
            <!-- Меню/Навигация -->
            {% block nav %}
            <nav class="col-md-3 col-lg-2 d-none d-md-block sidebar menu">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Заявки на РИД</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties' %}">РИД</a></li>
                        <li class="nav-item"><a class="nav-link"        href="">РИД по договорам</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'protection_titles' %}">Охранные документы</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'intangible_assets' %}">НМА</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'payments' %}">Оплаты пошлин</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties_commercialization' %}">Коммерциализация РИД</a></li>
                        <li class="nav-item"><a class="nav-link"        href="{% url 'statistics' %}">Отчеты/Реестры</a></li>
                        {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Панель администратора</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% endblock %}

            <!-- Основная часть -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                <!-- Таблица -->
                {% block content %}
                {% endblock %}
            </main>
        </div>
	</div>

    <!-- Javascript files -->
    <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popperjs/popper.min.js' %}"></script>

    <script src="{% static 'js/vuejs/vuejs.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>

    <script src="{% static 'js/utils.js' %}"></script>
    <script language="javascript">
        const getSelectObjectId = () => $('tr.selected .id').text();
        const API_URLS = {
            'api-root': '{%  url "api-root" %}',

            'duty-payment-list': '{% url "duty-payment-list" %}',
            'intangible-asset-list': '{% url "intangible-asset-list" %}',
            'intellectual-property-list': '{% url "intellectual-property-list" %}',

            'intellectual-property-commercialization-list':'{% url "intellectual-property-commercialization-list" %}',
        };

        const FORM_URLS = {

            'intellectual-property-update': '{% url "intellectual_property_update" pk=1234567890 %}',

            'intangible-assets-create': '{% url "intangible_assets_create" %}',
            'intangible-assets-update': '{% url "intangible_assets_update" pk=1234567890 %}',
            'payment-create': '{% url "payment_create" %}',
            'payment-update': '{% url "payment_update" pk=1234567890 %}',
            'intellectual-properties-commercialization-create':
                '{% url "intellectual_properties_commercialization_create" %}',
            'intellectual-properties-commercialization-update':
                '{% url "intellectual_properties_commercialization_update" pk=1234567890 %}',
        };

        {% if user.is_superuser %}
        let formData = new FormData();
        formData.append('read', true);

        const notificationApp = new Vue({
            el: '#notification',
            data: {
                notifications: [],
            },
            delimiters: ['${', '}'],
            methods: {
              markAsRead: function ( id, index ) {
                fetch('{% url "notification-detail" pk=1234567890 %}'.replace('1234567890', id), {
                    method: 'PATCH',
                    body: formData,
                }).then( response => {
                    if ( response.ok ) {
                        this.notifications.splice( index, 1 );
                    }
                });
              },
            },
            created () {
                fetch('{% url "notification-list" %}' + '?read=False')
                    .then(response => response.json())
                    .then(json => {
                        this.notifications = json;
                    })
            },
        });
        {% endif %}
    </script>

    {% block custom-js %}
    {% endblock %}
</body>
</html>
