{% extends "base_template.html" %}

{% block content %}
<h3 class="table-name">РИД по договорам</h3>
<div class="table-responsive">
    <table id="myTable" class="table table-striped table-sm" style="width:100%">
    </table>
</div>
{% endblock %}

{% block custom-js %}
<script>
    $(document).ready( function() {
        $('#myTable').DataTable( {
            ajax: {
                url: 'http://127.0.0.1:8000/api/contract-intellectual-properties/',
                dataSrc: '',
            },
            language: languageSettings,
            processing: true,
            responsive: true,
            columns: [
                {data: 'id', title: '№'},
                {data: 'intellectual_property.name', title: 'РИД'},
                {data: 'number', title: 'Номер договора'},
                {data: 'date', title: 'Дата подписания договора',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
                {data: 'text', title: 'Тема'},
                {data: 'number_policy_measure', title: 'Номер программного мероприятия'},
                {data: 'note', title: 'Примечание'},
                //TODO нужно выводить имя, а не номер
                {data: 'provider.id', title: 'Исполнитель'},
                //TODO нужно выводить имя, а не номер
                {data: 'commissioner.id', title: 'Руководитель'},
            ],
        } );
    });
</script>
{% endblock %}
