{% extends "base_template.html" %}

{% block title %}<title>РИД по договорам</title>{% endblock %}

{% block nav %}
<nav class="col-md-2 d-none d-md-block sidebar menu">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link"        href="{% url 'index' %}">Заявки на РИД</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties' %}">РИД</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'contract_intellectual_properties' %}">РИД по договорам</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intangible_assets' %}">НМА</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'payments' %}">Оплаты пошлин</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties_commercialization' %}">Коммерциализация РИД</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'statistics' %}">Отчеты/Реестры</a></li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Панель администратора</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h3 class="table-name">РИД по договорам</h3>
<div class="table-responsive">
    <table id="myTable" class="table table-striped table-sm" style="width:100%">
    </table>
</div>
{% endblock %}

{% block custom-js %}
<script>
    $(document).ready( function() {
        $('#myTable').DataTable( {
            ajax: {
                url: API_URLS['contract-intellectual-property-list'],
                dataSrc: '',
            },
            processing: true,
            responsive: true,
            dom: 'lfrtip<"table-buttons"B>',
            select: 'single',
            language: languageSettings,
            buttons: [
                {
                    text: 'Редактировать запись',
                    className: '',
                    action: function ( e, dt, node, config ) {
                        let selectedId = getSelectObjectId();
                        if (selectedId) {
                            let path = FORM_URLS['contract-intellectual-property-update']
                                .replace( '1234567890', selectedId );
                            redirectTo(path);
                        }
                    }
                },
            ],
            columns: [
                {data: 'id', title: '№', className: 'id'},
                {data: 'name', title: 'Название'},
                {data: 'contract_number', title: 'Номер договора'},
                {data: 'contract_type', title: 'Вид договора'},
                {data: 'contract_date', title: 'Дата заключения договора',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
            ],
        } );
    });
</script>
{% endblock %}
