{% extends "base_template.html" %}

{% block table %}
<h3 class="table-name">Заявки</h3>
<div class="table-responsive" id="table">
    {# class="table table-striped table-lg"#}
    <v-server-table url="http://127.0.0.1:8000/api/requests/" :columns="columns" :options="options">
    </v-server-table>
</div>
{% endblock %}

{% block custom-js %}
<script>
    Vue.use(VueTables.ServerTable);
    $(document).ready( function() {
        new Vue({
            el: "#table",
            data: {
                columns: ['number', 'protection_title', 'ip_name'],
                options: {
                    // see the options API
                }
            }
        });

    });
</script>
{% endblock %}
