{% extends "base_template.html" %}

{% block table %}
<h3 class="table-name">Заявки</h3>
<div class="table-container">
    <table class="table">
        <thead class="table-header">
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Страна</th>
                <th scope="col">Код РИД</th>
                <th scope="col">Номер охр. документа</th>
                <th scope="col">Номер заявки</th>
            </tr>
        </thead>
        <tbody class="table-body">
            {% for obj in ip_requests %}
                <tr>
                    <td>{{ obj.ip_name }}</td>
                    <td>
                      {{ obj.country.first.name }}
                    </td>
                    <td>{{ obj.ip_code }}</td>
                    <td>{{ obj.protection_title }}</td>
                    <td>{{ obj.number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
