{% extends "base_template.html" %}

{% block content %}
<h3 class="table-name">НМА</h3>
<div class="table-responsive">
    <table id="myTable" class="table table-striped table-sm" style="width:100%">
    </table>
</div>
{% endblock %}

{% block custom-js %}
<script>
    $(document).ready( function() {
        $('#myTable').DataTable( {
            ajax: {
                url: 'http://127.0.0.1:8000/api/intangible-assets/',
                dataSrc: '',
            },
            language: languageSettings,
            processing: true,
            responsive: true,
            columns: [
                {data: 'id', title: '№'},
                {data: 'intellectual_property.name', title: 'РИД'},
                {data: 'date', title: 'Дата постановки на НМА',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
                {data: 'number', title: 'Номер акта'},
                {data: 'book_value', title: 'Балансовая стоимость'},
                {data: 'retirement_date', title: 'Дата списания',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
            ],
        } );
    });
</script>
{% endblock %}