{% extends "base_template.html" %}

{% block content %}
<h3 class="table-name">Коммерциализация РИД</h3>
<div class="table-responsive">
    <table id="myTable" class="table table-striped table-sm" style="width:100%">
    </table>
</div>
{% endblock %}

{% block custom-js %}
<script>
    $(document).ready( function() {
        $('#myTable').DataTable( {
            ajax: {
                url: 'http://127.0.0.1:8000/api/intellectual-property-commercialization/',
                dataSrc: '',
            },
            language: languageSettings,
            processing: true,
            responsive: true,
            columns: [
                {data: 'id', title: '№'},
                {data: 'intellectual_property.name', title: 'РИД'},
                {data: 'reference_number', title: 'Номер дела'},
                {data: 'send_date', title: 'Дата отправки на регистрацию',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
                {data: 'commercialization_type.name', title: 'Наименование вида/типа использования РИД'},
                {data: 'licencee', title: 'Лицензиат - получатель лицензии'},
                //TODO исправить title
                {data: 'version_number', title: '???'},
                {data: 'filing_date', title: 'Дата регистрации договора',
                        render: function( data, type, row) {
                            return formatDate(data);
                        }
                },
                {data: 'acceptance_delivery_acr', title: 'Акт сдачи-приемки',
                        render: function (data, type, row) {
                            //TODO выводить что-нибудь поинтереснее, например, галочку и крестик
                            return (data == true) ? 'Есть' : 'Нет';
                        }
                },
                {data: 'contract_duration', title: 'Срок действия договора'},
                {data: 'agreement_terms', title: 'Условия договора'},
                {data: 'note', title: 'Примечание'},
                //TODO исправить licenser
                {data: 'licenser', title: 'Лицензиары',
                        render: function(data, type, row) {
                            return data.join('; ');
                        }
                },
            ],
        } );
    });
</script>
{% endblock %}
