{% extends "base_template.html" %}

{% block title %}<title>Отчеты</title>{% endblock %}


{% block nav %}
<nav class="col-md-2 d-none d-md-block sidebar menu">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link"        href="{% url 'index' %}">Заявки на РИД</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties' %}">РИД</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'contract_intellectual_properties' %}">РИД по договорам</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intangible_assets' %}">НМА</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'payments' %}">Оплаты пошлин</a></li>
            <li class="nav-item"><a class="nav-link"        href="{% url 'intellectual_properties_commercialization' %}">Коммерциализация РИД</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'statistics' %}">Отчеты/Реестры</a></li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Панель администратора</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}



{% block content %}

<h4 class="table-name">Отчеты/Реестры</h4>
<div class="form-container">
  <a href='отчеты/список-патентов-по-оплате-пошлин-на-поддержание'>
    Список патентов по оплате пошлин на поддержание
  </a><br>
  <a href='отчеты/список-действующих-патентов'>
    Список действующих патентов
  </a><br>
  <a href='отчеты/служебная-на-оплату-пошлины'>
    Служебная на оплату пошлины
  </a><br>
  <a href='отчеты/количество-поданных-заявок'>
    Количество поданных заявок
  </a><br>
  <a href='отчеты/список-патентов'>
    Список патентов
  </a><br>
  <a href='отчеты/оплаченные-пошлины'>
    Информация об оплаченных пошлинах
  </a><br>
{#  <a href='отчеты/отчет-об-оплате-поддерживаемых-патентов'>#}
{#    Отчет об оплате поддерживаемых патентов#}
{#  </a><br>#}

  <!-- <a href='отчеты/список-поддерживаемых-охраннных-документов'>
    Реестр поддерживаемых охраннных документов
  </a><br> -->
  <!-- <a href='отчеты/список-патентов-для-инвентаризации'>
    (-)Список патентов для инвентаризации
  </a><br>
  <a href='отчеты/перечень-охранных-документов-поддержку-которых-необходимо-прекратить'>
    (-)Перечень охранных документов на РИД, поддержку которых необходимо прекратить
  </a><br> -->

</div>

<h4 class="table-name">Дополнительные отчеты</h4>
<div class="form-container">
  <a href='отчеты/показатели-1'>
    Таблица "Основные показатели результативности ..."
  </a><br>
{#  <a href='отчеты/сводная-информация'>#}
{#    Таблица "Сводная информация по охране результатов интеллектуальной деятельности"#}
{#  </a><br>#}
{#  <a href='отчеты/оис-университета'>#}
{#    Таблица "Объекты интеллектуальной собственности за год"#}
{#  </a><br>#}
{#  <a href='отчеты/количественные-характеристики'>#}
{#    Таблица "Количественные характеристики университета"#}
{#  </a><br>#}

</div>
{% endblock %}
