{% extends "intellectual_properties.html" %}

{% block content %}

{% load widget_tweaks %}
<div class="form-container">
    <h3 class="form-title">Форма редактирования РИД</h3>
    <form method="post">
        {% csrf_token %}

        {#    Ошибки    #}
        {% if form.errors %}
            <div class="form-errors">
                <h3 class="form-error-title">Ошибки</h3>
                {% for field in form %}
                    {% if field.errors %}
                        <i class="field-error-name">{{ field.label }}</i>
                        <ul class="field-errors">
                        {% for error in field.errors %}
                            <li class="field-error"> {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {#   Заявка     #}
        {% comment %}
        <fieldset>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.request_number %}
                </div>
                <div class="form-group col-md-2">
                    {% include "./form_field.html" with field=form.send_date %}
                </div>
            </div>
        </fieldset>
        {% endcomment %}

        {#   Общие сведения  #}
        <fieldset>
            <legend class="fieldset-legend">Общие сведения</legend>
            <div class="form-row">
                <div class="form-group col-md-8">
                    {% include "./form_field.html" with field=form.name %}
                </div>
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.type_fk %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    {% include "./form_field.html" with field=form.ipc %}
                </div>
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.ground %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.creators %}
                </div>
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.owners %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.text %}
                </div>
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.abridgement %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.countries %}
                </div>
                <div class="form-group col-md-8">
                    {% include "./form_field.html" with field=form.note %}
                </div>
            </div>
        </fieldset>

        {#   Охранный документ  #}
        <fieldset>
            <legend class="fieldset-legend">Охранный документ</legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.protection_title %}
                </div>

                <div class="form-group col-md-2">
                    {% include "./form_field.html" with field=form.priority_date %}
                </div>

                <div class="form-group col-md-2">
                    {% include "./form_field.html" with field=form.grant_date %}
                </div>
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.receipt_date %}
                </div>
            </div>
        </fieldset>

        {#  Бюллетень  #}
        <fieldset>
            <legend class="fieldset-legend">Бюллетень</legend>
            <div class="form-row">
                <div class="form-group col-md-8">
                    {% include "./form_field.html" with field=form.bulletin_number %}
                </div>

                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.bulletin_date %}
                </div>
            </div>
        </fieldset>

        {#  Статус  #}
        <fieldset>
            <legend class="fieldset-legend">Статус</legend>
            <div class="form-group">
                <div class="form-check">
                    {%  include "./form_checkbox_field.html" with field=form.is_supported %}
                    <label class="form-check-label" for="{{ form.is_supported.id_for_label }}">
                        Укажите статус РИД (поддерживаем/не поддерживаем)</label>
                </div>
            </div>
        </fieldset>

        {#  Договор      #}
        <fieldset class="fieldset-contract">
            <legend class="fieldset-legend">Договор</legend>

            <div class="form-group">
                <div class="form-check">
                    {%  include "./form_checkbox_field.html" with field=form.is_contracted %}
                    <label class="form-check-label" for="{{ form.is_contracted.id_for_label }}">
                        Отметьте, если РИД выполнен по договору</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    {% include "./form_field.html" with field=form.contract_number %}
                </div>

                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.contract_type %}
                </div>

                <div class="form-group col-md-3">
                    {% include "./form_field.html" with field=form.contract_date %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.provider %}
                </div>
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.commissioner %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.number_policy_measure %}
                </div>
            </div>

        </fieldset>

        {#  Оплаченные пошлины  #}
        {% if payments %}
            <fieldset>
                <legend class="fieldset-legend">Оплаченные пошлины</legend>
                    <ol class="payments">
                    {% for payment in payments %}
                        <li>
                            <a href="{% url 'payment_update' pk=payment.id %}" target="_blank">{{ payment.name }}</a>
                        </li>
                    {% endfor %}
                    </ol>
            </fieldset>
        {% endif %}

        {#  Кнопки  #}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span> Сохранить
            </button>
            <a href="{% url 'intellectual_properties' %}" class="btn btn-secondary">Назад</a>
        </div>

    </form>
</div>
{% endblock %}

{% block custom-js %}
<script>
    $(document).ready( function() {
{#        let ground = $('#id_ground');#}
{#        ground.val({{ user.employeeinfo.ground.id }});#}

        let isContractCheckbox = $('#id_is_contracted');
        if ( isContractCheckbox.is(':checked') ) {
            $('.fieldset-contract .form-row input').attr('disabled', false);
            $('.fieldset-contract .form-row select').attr('disabled', false);
        } else {
            $('.fieldset-contract .form-row input').attr('disabled', true);
            $('.fieldset-contract .form-row select').attr('disabled', true);
        }

        isContractCheckbox.change( function() {
            if ( this.checked ) {
                $('.fieldset-contract .form-row input').attr('disabled', false);
                $('.fieldset-contract .form-row select').attr('disabled', false);
            } else {
                $('.fieldset-contract .form-row input').attr('disabled', true);
                $('.fieldset-contract .form-row select').attr('disabled', true);
            }
        } );
    } );
</script>
{% endblock %}
