{% extends "intellectual_properties_commercialization.html" %}

{% block content %}
<div class="form-container">

    {% if request.resolver_match.url_name == "payment_create" %}
        <h3 class="form-title">Форма добавления коммерциализации РИД</h3>
    {% else %}
        <h3 class="form-title">Форма редактирования коммерциализации РИД</h3>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {#    Ошибки    #}
        {% if form.errors %}
            <div class="form-errors">
                <h3 class="form-error-title">Ошибки</h3>
                {% for field in form %}
                    {% if field.errors %}
                        <i class="field-error-name">{{ field.label }}</i>
                        <ul class="field-errors">
                        {% for error in field.errors %}
                            <li class="field-error"> {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        <fieldset>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.intellectual_property %}
                </div>
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.commercialization_type %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    {% include "./form_field.html" with field=form.reference_number %}
                </div>
                <div class="form-group col-md-6">
                    {% include "./form_field.html" with field=form.version_number %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    {% include "./form_field.html" with field=form.send_date %}
                </div>
                <div class="form-group col-md-5">
                    {% include "./form_field.html" with field=form.licencee  %}
                </div>
            </div>



            <div class="form-row">
                <div class="form-group">
                    <div class="form-check">
                        {%  include "./form_checkbox_field.html" with field=form.acceptance_delivery_acr %}
                        <label class="form-check-label" for="{{ form.acceptance_delivery_acr.id_for_label }}">
                            Акт сдачи-приёмки</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.filing_date  %}
                </div>
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.contract_duration  %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    {% include "./form_field.html" with field=form.licenser %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.agreement_terms %}
                </div>

                <div class="form-group col-md-4">
                    {% include "./form_field.html" with field=form.note  %}
                </div>

            </div>
        </fieldset>

        {#  Кнопки  #}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span> Сохранить
            </button>
            <a href="{% url 'intellectual_properties_commercialization' %}" class="btn btn-secondary">Назад</a>
        </div>

    </form>
</div>
{% endblock %}