/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before, *:after {
  box-sizing: border-box;
}


body {
    font-size: .875rem;
    color: rgb(102, 102, 102);;
    font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none !important;
}

/* CLEAR FIX */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
}

/* HEADER */
.header {
  padding: 10px 20px 10px 15px;

  background: #ff6000;
  background: -moz-linear-gradient(-45deg, #ff8700 0%, #ff6000 100%);
  background: -webkit-linear-gradient(-45deg, #ff8700 0%,#ff6000 100%);
  background: linear-gradient(135deg, #ff8700 0%,#ff6000 100%);
}

.header.row {
    margin-left: 0;
    margin-right: 0;

    font-size: 12.5px;
    font-weight: 300;
    letter-spacing: 0.5px;

    line-height: 40px;
}

.project-name {
  font-size: 2rem !important;
  font-weight: 800;
}

.project-link {
  color: rgb(255, 255, 255);
}

.project-link:hover {
  color: #3a332f;
  transition: all 0.2s;
}

.staff-info {
    text-align: right;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.ground,
.logout {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logout {
  color: #fff;
}

.logout:hover {
  color: #3a332f;
  transition: all 0.2s;
}


/* MENU */
.menu {
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(135deg, #3a332f 0%,#403935 100%);
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
    padding: 10px 20px 10px 40px;
    color: rgb(255, 255, 255);

    letter-spacing: .5px;
}


.nav-link:hover {
  color: #f60;
}

.nav-link.active {
  color: #f60;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-name {
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.table thead tr th {
    white-space: nowrap;
}

.table-responsive {
    font-size: .8rem;
}

.table-buttons {
    clear: both;
}